annotated-types==0.7.0
anyio==4.13.0
certifi==2026.2.25
dirtyjson==1.0.8
filelock==3.20.3
fsspec==2026.2.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
Jinja2==3.1.6
# Editable install with no version control (llm==0.1.0)
-e /Users/alexander/dev/llm
MarkupSafe==3.0.3
mpmath==1.3.0
networkx==3.6.1
numpy==2.4.2
ollama==0.6.1
prompt_toolkit==3.0.52
pydantic==2.12.5
pydantic_core==2.41.5
PyYAML==6.0.3
questionary==2.1.1
SQLAlchemy==2.0.46
sympy==1.14.0
torch==2.10.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
wcwidth==0.6.0
-e git+ssh://git@github.com/apodgorny/whitelabel.git@8c15ac481e878658908ccc7ed27d6c412356b9bf#egg=wl
